/* help function */
/*common*/
/* line 3, ../sass/meitian.scss */
html {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  line-height: 1.4;
  display: none;
  overflow-x: hidden;
}

/* line 10, ../sass/meitian.scss */
li {
  list-style-type: none;
}

/* line 13, ../sass/meitian.scss */
body {
  margin: 0 auto;
  width: 20rem;
  background-color: #fafafa;
  overflow-x: hidden;
}

/* line 19, ../sass/meitian.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 24, ../sass/meitian.scss */
a {
  text-decoration: none;
}

/* line 27, ../sass/meitian.scss */
a:hover, a:focus {
  outline: none;
}

/* line 30, ../sass/meitian.scss */
input:focus {
  outline: none;
}

/* line 34, ../sass/meitian.scss */
input {
  -webkit-appearance: none;
}

/* line 37, ../sass/meitian.scss */
::-moz-selection {
  text-shadow: none;
}

/* line 41, ../sass/meitian.scss */
::-moz-selection {
  text-shadow: none;
}
::selection {
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 48, ../sass/meitian.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 57, ../sass/meitian.scss */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Hide visually and from screen readers:
 */
/* line 70, ../sass/meitian.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 76, ../sass/meitian.scss */
.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
/* line 85, ../sass/meitian.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
/* line 102, ../sass/meitian.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
/* line 116, ../sass/meitian.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 132, ../sass/meitian.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table
  /* 2 */
}

/* line 138, ../sass/meitian.scss */
.clearfix:after {
  clear: both;
}

/* line 142, ../sass/meitian.scss */
.clear:before,
.clear:after {
  content: " ";
  /* 1 */
  display: table
  /* 2 */
}

/* line 148, ../sass/meitian.scss */
.clear:after {
  clear: both;
}

/* line 152, ../sass/meitian.scss */
.body-shadow {
  position: fixed;
  top: 0;
  height: 100%;
  width: 20rem;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 10;
}

/*index*/
/* line 162, ../sass/meitian.scss */
.banner {
  position: relative;
  width: 100%;
}
/* line 165, ../sass/meitian.scss */
.banner img {
  width: 100%;
}

/* line 169, ../sass/meitian.scss */
.h2 {
  margin: 0.9375rem 0;
  font-size: 0.75rem;
  font-weight: 100;
  color: #333;
  line-height: 1;
}

/* line 176, ../sass/meitian.scss */
.icon {
  margin: 0;
  display: inline-block;
  border: none;
  vertical-align: middle;
}

/* line 182, ../sass/meitian.scss */
.hide {
  display: none;
}

/* line 185, ../sass/meitian.scss */
.show {
  display: block;
}

/* line 188, ../sass/meitian.scss */
#position {
  position: relative;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  background-color: #fff;
}
/* line 193, ../sass/meitian.scss */
#position .h2 {
  margin-top: 0;
  margin-bottom: 0.625rem;
  height: 1.25rem;
  line-height: 1.25rem;
}
/* line 199, ../sass/meitian.scss */
#position .current-city {
  display: inline-block;
}
/* line 202, ../sass/meitian.scss */
#position .city-select {
  float: right;
  width: 4.375rem;
  height: 1.25rem;
  overflow: hidden;
  color: #333;
}
/* line 209, ../sass/meitian.scss */
#position .city-select.selected .btn-city-select {
  border-bottom: none;
}
/* line 212, ../sass/meitian.scss */
#position .city-select.selected .city-list {
  display: block;
}
/* line 216, ../sass/meitian.scss */
#position .city-select .btn-city-select {
  position: absolute;
  right: 15px;
  width: 4.375rem;
  height: 1.25rem;
  line-height: 1.25rem;
  border: 1px solid #E0E0E0;
  text-align: center;
  font-size: 0.6875rem;
  background-color: #fff;
  z-index: 12;
}
/* line 228, ../sass/meitian.scss */
#position .city-select .city-list {
  position: absolute;
  display: none;
  margin-top: -1px;
  top: 2.1875rem;
  left: 0;
  width: 100%;
  padding: 0 0.9375rem 0.9375rem;
  border: 1px solid #E0E0E0;
  text-align: center;
  background-color: #fff;
  z-index: 11;
}
/* line 240, ../sass/meitian.scss */
#position .city-select .city-list .city-list-item {
  width: 8.5625rem !important;
  height: 1.875rem !important;
  line-height: 2.308 !important;
}
/* line 245, ../sass/meitian.scss */
#position .city-select .city-list .city-list-item a {
  display: block;
  width: 100%;
  height: 100%;
  color: #333;
}

/* line 255, ../sass/meitian.scss */
.icon-arrow-up, .icon-arrow-down {
  margin: 0 2px;
  width: 0.5625rem;
  height: 0.375rem;
  background: url("../img/icon-arrow-up.png") no-repeat;
  background-size: 100%;
}

/* line 262, ../sass/meitian.scss */
.icon-arrow-down {
  background: url("../img/icon-arrow-down.png") no-repeat;
  background-size: 100%;
}

/* line 267, ../sass/meitian.scss */
.icon-location {
  margin-right: 4px;
  width: 0.4375rem;
  height: 0.625rem;
  background: url("../img/icon-location.png") no-repeat;
  background-size: 100%;
}

/* line 274, ../sass/meitian.scss */
.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

/* line 283, ../sass/meitian.scss */
.mt-searchbox {
  height: 1.75rem;
}
/* line 285, ../sass/meitian.scss */
.mt-searchbox .mt-searchbox-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 291, ../sass/meitian.scss */
.mt-searchbox .mt-searchbox-wrap.focus {
  border-color: #ed145b;
}
/* line 294, ../sass/meitian.scss */
.mt-searchbox .mt-searchbox-wrap .search-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.125rem;
  height: 100%;
  text-align: center;
}
/* line 301, ../sass/meitian.scss */
.mt-searchbox .mt-searchbox-wrap .search-icon img {
  width: 0.875rem;
  height: 0.875rem;
}
/* line 306, ../sass/meitian.scss */
.mt-searchbox .mt-searchbox-wrap input {
  width: 100%;
  height: 0.9375rem;
  padding-left: 2.125rem;
  font-size: 0.8125rem;
  line-height: 0.9375rem;
  color: #999;
  border-radius: 0;
  border: none;
  box-shadow: none;
  background: none;
}

/* line 320, ../sass/meitian.scss */
.mt-loading {
  visibility: hidden;
  font-size: 0.875rem;
  color: #333;
  line-height: 1.4;
  text-align: center;
}
/* line 326, ../sass/meitian.scss */
.mt-loading img {
  margin: -2px 4px 0 0;
}

/* line 330, ../sass/meitian.scss */
.searchbox-list-container {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 15px;
  z-index: 2;
}

/* line 337, ../sass/meitian.scss */
.mt-searchbox-list {
  margin-top: 0px;
  display: none;
  width: 100%;
  padding: 0 0.625rem;
  border: 1px solid #e0e0e0;
  border-top: none;
  background-color: #fff;
}
/* line 345, ../sass/meitian.scss */
.mt-searchbox-list .mt-searchbox-list-item {
  height: 2rem;
  padding: 0 1.5rem;
  border-bottom: 1px solid #e0e0e0;
  font-size: 0.875rem;
  line-height: 2rem;
  color: #4a4a4a;
}
/* line 352, ../sass/meitian.scss */
.mt-searchbox-list .mt-searchbox-list-item:last-child {
  border-bottom: none;
}

/* line 358, ../sass/meitian.scss */
#districts .h2 {
  margin: 0;
  padding: 0.875rem 15px;
  background: #fff;
}

/* line 364, ../sass/meitian.scss */
.district-list {
  position: relative;
  padding: 0 1.25rem;
  border-top: 1px solid #e0e0e0;
  text-align: center;
}

/* line 370, ../sass/meitian.scss */
.district-list-item, #position .city-select .city-list .city-list-item {
  margin-top: 0.9375rem;
  display: inline-block;
  width: 8.25rem;
  height: 2.375rem;
  border: 1px solid #ccc;
  font-size: 0.8125rem;
  line-height: 2.375rem;
  text-align: center;
  color: #333;
  background-color: #fff;
}
/* line 381, ../sass/meitian.scss */
.district-list-item:nth-child(odd), #position .city-select .city-list .city-list-item:nth-child(odd) {
  float: left;
}
/* line 384, ../sass/meitian.scss */
.district-list-item:nth-child(even), #position .city-select .city-list .city-list-item:nth-child(even) {
  float: right;
}
/* line 387, ../sass/meitian.scss */
.district-list-item.selected, #position .city-select .city-list .selected.city-list-item {
  border: 1px solid #ed145b;
}

/* line 391, ../sass/meitian.scss */
p.not-find {
  margin: 1.875rem 0 4.75rem;
  font-size: 0.75rem;
  color: #333;
  text-align: center;
}
/* line 396, ../sass/meitian.scss */
p.not-find a {
  color: #333;
}

/* line 400, ../sass/meitian.scss */
.show-more {
  padding-top: 1.1875rem;
  font-size: 0.875rem;
  text-align: center;
  color: #ed145b;
}

/* line 406, ../sass/meitian.scss */
img.arrow-down {
  width: 0.75rem;
  height: 0.4375rem;
}

/* line 410, ../sass/meitian.scss */
footer {
  position: fixed;
  bottom: 0;
  width: 20rem;
}
/* line 414, ../sass/meitian.scss */
footer nav {
  width: 100%;
  height: 3.0625rem;
  font-size: 0;
  background-color: #252525;
}
/* line 419, ../sass/meitian.scss */
footer nav .nav-item {
  display: inline-block;
  width: 33.3%;
  font-size: 0.6875rem;
  text-align: center;
  color: #fff;
  opacity: .3;
}
/* line 426, ../sass/meitian.scss */
footer nav .nav-item .nav-item-icon {
  width: 100%;
  line-height: 1.9375rem;
  text-align: center;
}
/* line 431, ../sass/meitian.scss */
footer nav .nav-item .nav-item-name {
  height: 1.125rem;
}
/* line 435, ../sass/meitian.scss */
footer nav #tohome img {
  width: 1.125rem;
  height: 1.4375rem;
}
/* line 439, ../sass/meitian.scss */
footer nav #toorder img {
  width: 1.125rem;
  height: 1.375rem;
}
/* line 443, ../sass/meitian.scss */
footer nav #touser img {
  width: 1.125rem;
  height: 0.875rem;
}
/* line 447, ../sass/meitian.scss */
footer nav .nav-item.current {
  opacity: 1;
}

/*company coupon*/
/* line 453, ../sass/meitian.scss */
.padding15 {
  padding: 0 0.9375rem;
}

/* line 456, ../sass/meitian.scss */
.company-list {
  background-color: #fff;
}
/* line 458, ../sass/meitian.scss */
.company-list .company-list-item {
  padding: 0 0.9375rem;
  border-top: 1px solid #e0e0e0;
  height: 2.5rem;
  font-size: 0.875rem;
  line-height: 2.5rem;
}
/* line 464, ../sass/meitian.scss */
.company-list .company-list-item a {
  display: block;
  width: 100%;
  color: #333;
}
/* line 470, ../sass/meitian.scss */
.company-list .company-list-item:last-child {
  border-bottom: 1px solid #e0e0e0;
}

/* meal */
/* line 475, ../sass/meitian.scss */
.mt-checkbox {
  position: relative;
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid #e5e5e5;
  border-radius: 1.5rem;
  text-align: center;
}
/* line 483, ../sass/meitian.scss */
.mt-checkbox img {
  display: none;
  width: 1.0625rem;
  height: 0.75rem;
}
/* line 488, ../sass/meitian.scss */
.mt-checkbox input {
  display: none;
}

/* line 493, ../sass/meitian.scss */
.mt-checkbox.selected img {
  display: inline-block;
}

/* line 497, ../sass/meitian.scss */
.icon-arrow-black {
  width: 0.75rem;
  height: 0.4375rem;
  background: url("../img/icon-arrow-down-black.png") no-repeat;
  background-size: 100%;
}
/* line 502, ../sass/meitian.scss */
.icon-arrow-black.up {
  background-image: url("../img/icon-arrow-up-black.png");
}

/* line 506, ../sass/meitian.scss */
.meal-head {
  position: relative;
  height: 2.5rem;
  padding: 0 0.9375rem;
  background-color: #fff;
}
/* line 511, ../sass/meitian.scss */
.meal-head .check-meal {
  height: 2.5rem;
  padding-right: 0.625rem;
  line-height: 2.85;
}
/* line 516, ../sass/meitian.scss */
.meal-head .week-name {
  font-size: 0.8125rem;
  color: #333;
  line-height: 2.5rem;
}
/* line 521, ../sass/meitian.scss */
.meal-head .day-list {
  float: right;
  margin-top: 0.8125rem;
  margin-right: 1.25rem;
  line-height: 0;
  font-size: 0;
}
/* line 527, ../sass/meitian.scss */
.meal-head .day-list .day-item {
  margin-right: 0.3125rem;
  display: inline-block;
  width: 1.25rem;
  height: 0.875rem;
  font-size: 0.6875rem;
  line-height: 0.875rem;
  text-align: center;
  color: #9B9B9B;
  border: 1px solid #9B9B9B;
}
/* line 537, ../sass/meitian.scss */
.meal-head .day-list .day-item.selected {
  color: #ED145B;
  border-color: #ED145B;
}
/* line 543, ../sass/meitian.scss */
.meal-head .icon-arrow-black {
  position: absolute;
  top: 1.0625rem;
  right: 0.625rem;
}

/* line 549, ../sass/meitian.scss */
.nomeal-st {
  display: inline-block;
  padding: 1px 2px;
  font-size: 0.6875rem;
  font-style: normal;
  line-height: 1;
  background-color: #ccc;
  color: #fff;
}

/* line 558, ../sass/meitian.scss */
.check-meal {
  float: left;
  box-sizing: content-box;
  text-align: center;
}

/* line 563, ../sass/meitian.scss */
.meal-item {
  position: relative;
}
/* line 565, ../sass/meitian.scss */
.meal-item .merchant-logo {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}
/* line 571, ../sass/meitian.scss */
.meal-item .meal-date, .meal-item .meal-price, .meal-item .meal-title {
  color: #999;
}
/* line 574, ../sass/meitian.scss */
.meal-item .shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e3e3e3;
  opacity: .6;
  z-index: 2;
}
/* line 584, ../sass/meitian.scss */
.meal-item:last-child .meal-info {
  border-bottom: none;
}
/* line 587, ../sass/meitian.scss */
.meal-item .to-mt-bottom-popup {
  color: #999;
}

/* line 592, ../sass/meitian.scss */
.meal-item.checked .merchant-logo {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  filter: grayscale(0);
}
/* line 598, ../sass/meitian.scss */
.meal-item.checked .meal-date, .meal-item.checked .meal-title {
  color: #333;
}
/* line 601, ../sass/meitian.scss */
.meal-item.checked .meal-price {
  color: #ed145b;
}
/* line 604, ../sass/meitian.scss */
.meal-item.checked .mt-checkbox img {
  display: inline-block;
}
/* line 607, ../sass/meitian.scss */
.meal-item.checked .to-mt-bottom-popup {
  color: #333;
}

/* line 611, ../sass/meitian.scss */
.meal-date {
  font-size: 0.8125rem;
  line-height: 1;
  color: #333;
}

/* line 616, ../sass/meitian.scss */
.meal-info {
  height: auto;
  padding: 0.5625rem 0.9375rem;
  background: #fff;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
}
/* line 622, ../sass/meitian.scss */
.meal-info .merchant-logo {
  display: inline-block;
  vertical-align: top;
  padding: 0.25rem;
  width: 3.4375rem;
  height: 3.4375rem;
  line-height: 3.4375rem;
}
/* line 629, ../sass/meitian.scss */
.meal-info .merchant-logo img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
/* line 635, ../sass/meitian.scss */
.meal-info .check-meal {
  height: 3.4375rem;
  line-height: 3.8;
  padding-right: 0.75rem;
}
/* line 640, ../sass/meitian.scss */
.meal-info .meal-detail {
  margin-top: 0.375rem;
  display: inline-block;
  font-size: 0.8125rem;
  width: 10rem;
}
/* line 645, ../sass/meitian.scss */
.meal-info .meal-detail .meal-title {
  line-height: 1.25;
}
/* line 648, ../sass/meitian.scss */
.meal-info .meal-detail .meal-price {
  line-height: 1.8;
}
/* line 652, ../sass/meitian.scss */
.meal-info .to-mt-bottom-popup {
  position: absolute;
  top: 0;
  right: 0.625rem;
  display: inline-block;
  height: 100%;
  line-height: 9;
  width: 0.75rem;
  text-align: right;
}
/* line 661, ../sass/meitian.scss */
.meal-info .to-mt-bottom-popup img {
  width: 0.75rem;
  height: 0.4375rem;
}

/* line 668, ../sass/meitian.scss */
.meal-price-ori {
  margin-left: 0.25rem;
  color: #999;
}

/* line 672, ../sass/meitian.scss */
.meal-price {
  color: #ed145b;
}

/* line 675, ../sass/meitian.scss */
.color-red {
  color: #ed145b;
}

/* line 678, ../sass/meitian.scss */
.settle-money {
  margin-top: 0.9375rem;
  margin-bottom: 5rem;
  padding: 0.625rem 0.9375rem;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #E0E0E0;
  background-color: #fff;
  font-size: 0.875rem;
  line-height: 2;
  color: #333;
}
/* line 688, ../sass/meitian.scss */
.settle-money #count {
  float: right;
}
/* line 690, ../sass/meitian.scss */
.settle-money #count .count {
  width: 2rem;
  height: 1rem;
  line-height: 1rem;
  border: none;
  text-align: center;
}
/* line 699, ../sass/meitian.scss */
.settle-money dl dt, .settle-money dl dd {
  display: inline;
}

/* line 705, ../sass/meitian.scss */
.icon-reduce, .icon-increase {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: url(../img/icon-reduce.png) no-repeat center;
  background-size: 100%;
}
/* line 711, ../sass/meitian.scss */
.icon-reduce.disabled, .icon-increase.disabled {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* line 718, ../sass/meitian.scss */
.icon-increase {
  width: 0.875rem;
  height: 0.875rem;
  background: url(../img/icon-add.png) no-repeat center;
}

/* line 724, ../sass/meitian.scss */
.mt-jorb {
  position: fixed;
  width: 20rem;
  bottom: 0;
  padding: 0.75rem 0;
  border-top: 1px solid #E0E0E0;
  background-color: #fff;
}

/* line 732, ../sass/meitian.scss */
.btn {
  display: block;
  background-color: #ed145b;
  text-align: center;
  text-decoration: none;
  border: none;
  -webkit-user-select: none;
  cursor: pointer;
}

/* line 741, ../sass/meitian.scss */
.btn-place-order, .btn-to-settle {
  margin: 0 auto;
  width: 7.5rem;
  height: 1.875rem;
  font-size: 1rem;
  line-height: 1.875rem;
  text-align: center;
  color: #fff;
}
/* line 749, ../sass/meitian.scss */
.btn-place-order.disabled, .disabled.btn-to-settle {
  background-color: #ccc;
}

/* line 754, ../sass/meitian.scss */
#thisWeekMeal, #nextWeekMeal {
  border-bottom: 1px solid #ccc;
}
/* line 756, ../sass/meitian.scss */
#thisWeekMeal .to-mt-bottom-popup, #nextWeekMeal .to-mt-bottom-popup {
  width: 2.5rem;
  font-size: 0.625rem;
}
/* line 760, ../sass/meitian.scss */
#thisWeekMeal .mt-checkbox, #nextWeekMeal .mt-checkbox {
  height: 1.125rem;
  width: 1.125rem;
  border-radius: 1.125rem;
}
/* line 764, ../sass/meitian.scss */
#thisWeekMeal .mt-checkbox img, #nextWeekMeal .mt-checkbox img {
  width: 0.75rem;
  height: 0.4375rem;
}
/* line 769, ../sass/meitian.scss */
#thisWeekMeal .meal-item, #nextWeekMeal .meal-item {
  margin-bottom: 0.625rem;
}

/* line 773, ../sass/meitian.scss */
.mt-bottom-popup {
  position: fixed;
  bottom: -600px;
  width: 20rem;
  overflow: hidden;
  padding: 0 0.625rem;
  z-index: 20;
  -webkit-transition: .5s bottom ease;
  transition: .5s bottom ease;
}
/* line 785, ../sass/meitian.scss */
.mt-bottom-popup .mt-bottom-popup-container {
  background-color: #fff;
  opacity: .95;
}
/* line 788, ../sass/meitian.scss */
.mt-bottom-popup .mt-bottom-popup-container .meal-date {
  font-size: 0.875rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding-left: 0.9375rem;
}
/* line 795, ../sass/meitian.scss */
.mt-bottom-popup li {
  padding: 0.6875rem 0.5rem;
  border-top: 1px solid #e0e0e0;
  line-height: 1.1;
  font-size: 0.875rem;
  color: #333;
}
/* line 801, ../sass/meitian.scss */
.mt-bottom-popup li .name {
  display: inline-block;
  width: 12rem;
  height: auto;
}
/* line 806, ../sass/meitian.scss */
.mt-bottom-popup li .meal-price {
  float: right;
  width: 5.5rem;
  text-align: right;
}
/* line 812, ../sass/meitian.scss */
.mt-bottom-popup .btn-cancel-select {
  margin-top: 0.625rem;
  height: 2.125rem;
  font-size: 1rem;
  line-height: 2.125rem;
  text-align: center;
  color: #ed145b;
  background-color: #fff;
  opacity: .95;
}

/* settle */
/* line 824, ../sass/meitian.scss */
.row {
  width: 100%;
  height: 2.25rem;
  font-size: 0.875rem;
  line-height: 2.25rem;
  padding: 0 0.9375rem;
  border-top: 1px solid #e0e0e0;
  background-color: #fff;
}

/* line 834, ../sass/meitian.scss */
.icon-edit {
  display: inline-block;
  float: right;
  margin-top: 0.5625rem;
  width: 1.0625rem;
  height: 1rem;
  background: url(../img/icon-edit.png) no-repeat;
  background-size: cover;
}

/* line 843, ../sass/meitian.scss */
#purchaser-info {
  color: #333;
  border-bottom: 1px solid #e0e0e0;
}
/* line 847, ../sass/meitian.scss */
#purchaser-info .row label {
  display: inline-block;
  width: 5.875rem;
}
/* line 851, ../sass/meitian.scss */
#purchaser-info .row input {
  height: 100%;
  width: 10.375rem;
  border: none;
  background: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 860, ../sass/meitian.scss */
#purchaser-info .row input[disabled] + .icon-edit {
  display: none;
}

/* line 866, ../sass/meitian.scss */
input:disabled {
  color: #333 !important;
}

/* line 869, ../sass/meitian.scss */
#order-info, #payways {
  margin-top: 0.9375rem;
  background-color: #fff;
  border-bottom: 1px solid #E0E0E0;
}
/* line 873, ../sass/meitian.scss */
#order-info .merchant-logo, #payways .merchant-logo {
  margin-left: 0;
}

/* line 877, ../sass/meitian.scss */
.use-jumei-topay {
  height: 2.75rem;
  padding: 0 0.9375rem;
  font-size: 0.875rem;
  color: #333;
  line-height: 2.75rem;
}

/* line 883, ../sass/meitian.scss */
.btn-is-use {
  float: right;
  margin-top: 0.25rem;
  display: block;
  width: 3.5rem;
  height: 2.375rem;
  background: url("../img/switchOff.png") no-repeat;
  background-size: 100%;
}

/* line 892, ../sass/meitian.scss */
.btn-is-use.yes {
  background-image: url("../img/switchOn.png");
}

/* line 895, ../sass/meitian.scss */
.coupon {
  height: 2.75rem;
  line-height: 2.75rem;
}
/* line 898, ../sass/meitian.scss */
.coupon .coupon-value {
  float: right;
}
/* line 902, ../sass/meitian.scss */
.coupon.nocoupon .coupon-value {
  color: #999 !important;
}

/* line 908, ../sass/meitian.scss */
#orderTotal {
  height: auto;
}
/* line 910, ../sass/meitian.scss */
#orderTotal .order-count, #orderTotal .order-total {
  line-height: 1.75rem;
}
/* line 916, ../sass/meitian.scss */
#orderTotal i {
  margin-left: 5px;
  font-style: normal;
}

/* line 921, ../sass/meitian.scss */
#payways {
  border-top: none;
  margin-bottom: 5rem;
}

/* line 926, ../sass/meitian.scss */
.payway-box {
  border-top: 1px solid #E0E0E0;
  height: 3.375rem;
  padding: 0.75rem 0;
}
/* line 930, ../sass/meitian.scss */
.payway-box .payway-logo {
  vertical-align: top;
  margin: 0 1.125rem;
  width: 1.875rem;
  height: 1.875rem;
}
/* line 936, ../sass/meitian.scss */
.payway-box .payway-info {
  display: inline-block;
  width: 12.5rem;
  font-size: 0.8125rem;
  line-height: 1.2;
}
/* line 941, ../sass/meitian.scss */
.payway-box .payway-info .name {
  color: #333;
}
/* line 944, ../sass/meitian.scss */
.payway-box .payway-info .des {
  color: #999;
}
/* line 948, ../sass/meitian.scss */
.payway-box .mt-checkbox {
  vertical-align: top;
  float: right;
  margin: 0.1875rem 0.75rem;
}

/* order */
/* line 959, ../sass/meitian.scss */
.head-nav {
  height: 2.5rem;
  line-height: 2.5rem;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  background-color: #fff;
}
/* line 965, ../sass/meitian.scss */
.head-nav .head-nav-item {
  float: left;
  display: block;
  width: 19.9%;
  font-size: 0.875rem;
  color: #333;
  text-align: center;
}
/* line 971, ../sass/meitian.scss */
.head-nav .head-nav-item a {
  color: #333;
}
/* line 974, ../sass/meitian.scss */
.head-nav .head-nav-item span {
  padding-bottom: 3px;
}
/* line 978, ../sass/meitian.scss */
.head-nav .head-nav-item.current span {
  border-bottom: 1px solid #ed145b;
}

/* line 984, ../sass/meitian.scss */
.order-list {
  display: none;
  padding-bottom: 4.375rem;
}
/* line 987, ../sass/meitian.scss */
.order-list .order-list-item {
  height: 3.875rem;
  font-size: 0.875rem;
  color: #333;
  padding: 0.75rem 0.9375rem 0.9375rem;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  background-color: #fff;
}
/* line 988, ../sass/meitian.scss */
.order-list .order-list-item:first-child {
  border-top: 0px;
}
/* line 997, ../sass/meitian.scss */
.order-list .order-list-item a {
  color: #333;
}
/* line 999, ../sass/meitian.scss */
.order-list .order-list-item a:first-child {
  border-top: none;
}
/* line 1002, ../sass/meitian.scss */
.order-list .order-list-item a .order-status {
  margin-left: 0.375rem;
  font-size: 0.75rem;
  color: #fff !important;
  padding: 0.125rem 0.25rem;
}
/* line 1007, ../sass/meitian.scss */
.order-list .order-list-item a .order-status.non-paid {
  background-color: #ed145b;
}
/* line 1010, ../sass/meitian.scss */
.order-list .order-list-item a .order-status.has-paid {
  background-color: #30BF78;
}
/* line 1013, ../sass/meitian.scss */
.order-list .order-list-item a .order-status.has-refund {
  background-color: #ccc;
}
/* line 1017, ../sass/meitian.scss */
.order-list .order-list-item a .order-name {
  padding-left: 4px;
}
/* line 1020, ../sass/meitian.scss */
.order-list .order-list-item a .order-price {
  float: right;
}
/* line 1023, ../sass/meitian.scss */
.order-list .order-list-item a .order-book-date {
  font-size: 0.75rem;
  color: #999 !important;
  line-height: 1.6;
}
/* line 1030, ../sass/meitian.scss */
.order-list .order-list-item + .order-list-item {
  margin-top: 0.9375rem;
}
/* line 1033, ../sass/meitian.scss */
.order-list .mt-loading {
  margin: 6px auto;
  width: 100%;
}

/* line 1038, ../sass/meitian.scss */
.mt-tip {
  margin-top: 1.875rem;
  margin-bottom: 5rem;
  font-size: 0.875rem;
  color: #999;
  text-align: center;
}

/* line 1045, ../sass/meitian.scss */
.btn-apply-refund, .btn-submit-refund {
  margin: 0 auto;
  width: 8.75rem;
  height: 1.875rem;
  border: 1px solid #ed145b;
  font-size: 1rem;
  line-height: 1.75;
  color: #333;
  background-color: #fff;
}
/* line 1054, ../sass/meitian.scss */
.btn-apply-refund.disabled, .disabled.btn-submit-refund {
  color: #ccc;
  border: 1px solid #ccc;
}

/* refund */
/* line 1061, ../sass/meitian.scss */
body#refund {
  background-color: #fff;
}

/* line 1065, ../sass/meitian.scss */
#refund h1 {
  margin: 0;
  height: 1.875rem;
  padding: 0 0.9375rem;
  font-size: 0.875rem;
  color: #333;
  line-height: 1.875rem;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
}

/* line 1075, ../sass/meitian.scss */
.refund-reason {
  padding: 0 0.9375rem;
}
/* line 1078, ../sass/meitian.scss */
.refund-reason .refund-reason-list .refund-reason-item {
  margin: 0.9375rem 0;
  font-size: 0.875rem;
  color: #333;
  line-height: 1.5;
  list-style-type: none;
}
/* line 1083, ../sass/meitian.scss */
.refund-reason .refund-reason-list .refund-reason-item span.reason-des {
  margin-left: 0.5rem;
  display: inline-block;
  width: 15.625rem;
  padding-top: 2px;
  overflow: hidden;
}
/* line 1092, ../sass/meitian.scss */
.refund-reason .mt-checkbox {
  float: left;
  line-height: 1.5;
}
/* line 1096, ../sass/meitian.scss */
.refund-reason #other-reason {
  width: 100%;
  height: 8.125rem;
  padding: 0.625rem 0.9375rem;
  border: 1px solid #E0E0E0;
  outline: none;
  font-size: 0.875rem;
  color: #666;
  line-height: 1.2;
  resize: none;
}
/* line 1106, ../sass/meitian.scss */
.refund-reason #other-reason:focus {
  outline: none;
  border: 1px solid #ed145b;
}

/* personal */
/* line 1116, ../sass/meitian.scss */
.personal-head {
  position: relative;
  height: 2.5rem;
  font-size: 0.875rem;
  color: #333;
  line-height: 2.5rem;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  background-color: #fff;
}
/* line 1124, ../sass/meitian.scss */
.personal-head #person-name {
  font-style: normal;
}
/* line 1127, ../sass/meitian.scss */
.personal-head .btn-login {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2.65625rem;
  margin-top: -0.75rem;
  width: 5.3125rem;
  height: 1.4375rem;
  line-height: 1.4375rem;
  border: 1px solid #ed145b;
  background: none;
  color: #ed145b !important;
}

/* line 1141, ../sass/meitian.scss */
.my-meitian {
  margin-top: 0.9375rem;
  background-color: #fff;
  border-bottom: 1px solid #E0E0E0;
}
/* line 1145, ../sass/meitian.scss */
.my-meitian .row {
  display: block;
  color: #333;
}
/* line 1149, ../sass/meitian.scss */
.my-meitian .icon-voucher {
  margin-right: 10px;
  margin-bottom: 3px;
  width: 1rem;
  height: 0.75rem;
}
/* line 1155, ../sass/meitian.scss */
.my-meitian .icon-about {
  margin-right: 12px;
  margin-bottom: 3px;
  width: 0.875rem;
  height: 0.875rem;
}

/* line 1162, ../sass/meitian.scss */
.contact-us {
  margin-top: 1.5625rem;
  margin-bottom: 5rem;
  font-size: 0.875rem;
  color: #333;
  text-align: center;
}

/* line 1169, ../sass/meitian.scss */
.tel-number {
  color: blue;
}

/*coupon*/
/* line 1175, ../sass/meitian.scss */
.coupon-list ul li.coupon-list-item {
  height: 5.625rem;
  line-height: 5.625rem;
  padding: 0 0.75rem;
  list-style-type: none;
  border-bottom: 1px solid #E0E0E0;
}
/* line 1181, ../sass/meitian.scss */
.coupon-list ul li.coupon-list-item .coupon-value {
  display: inline-block;
  width: 4.375rem;
  font-size: 1.625rem;
  color: #ed145b;
}
/* line 1186, ../sass/meitian.scss */
.coupon-list ul li.coupon-list-item .coupon-value i {
  vertical-align: top;
  font-style: normal;
  font-size: 1.25rem;
}
/* line 1192, ../sass/meitian.scss */
.coupon-list ul li.coupon-list-item .coupon-detail {
  margin-top: 1.5625rem;
  display: inline-block;
  float: right;
  width: 12.75rem;
  font-size: 0.875rem;
  line-height: 1.4;
}
/* line 1199, ../sass/meitian.scss */
.coupon-list ul li.coupon-list-item .coupon-detail .coupon-title {
  color: #333;
}
/* line 1202, ../sass/meitian.scss */
.coupon-list ul li.coupon-list-item .coupon-detail .coupon-date {
  color: #9B9B9B;
}
/* line 1207, ../sass/meitian.scss */
.coupon-list ul li.coupon-list-item.overdue .coupon-value {
  color: #999 !important;
}
/* line 1210, ../sass/meitian.scss */
.coupon-list ul li.coupon-list-item.overdue .coupon-title {
  color: #999 !important;
}
/* line 1213, ../sass/meitian.scss */
.coupon-list ul li.coupon-list-item.overdue .coupon-date {
  color: #999 !important;
}

/* line 1221, ../sass/meitian.scss */
.float-right {
  float: right;
}

/* line 1225, ../sass/meitian.scss */
.float-left {
  float: left;
}

/*paysuccess*/
/* line 1229, ../sass/meitian.scss */
.pay-success {
  height: 7rem;
  width: 100%;
  text-align: center;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  background-color: #fff;
}
/* line 1236, ../sass/meitian.scss */
.pay-success img {
  margin: 0.9375rem 0;
  width: 3.125rem;
  height: 3.125rem;
}
/* line 1241, ../sass/meitian.scss */
.pay-success p {
  font-size: 0.875rem;
  color: #333;
}

/* line 1245, ../sass/meitian.scss */
.view-order {
  margin-top: 1.75rem;
  font-size: 0.875rem;
  color: #333;
  text-align: center;
}
/* line 1249, ../sass/meitian.scss */
.view-order a {
  color: #333;
}

/*beican*/
/* line 1254, ../sass/meitian.scss */
.beican {
  position: fixed;
  top: 50%;
  margin-top: -3.125rem;
  width: 100%;
  height: 6.25rem;
  text-align: center;
}
/* line 1261, ../sass/meitian.scss */
.beican img {
  margin-bottom: 1.25rem;
  width: 1.6875rem;
  height: 2.1875rem;
}
/* line 1266, ../sass/meitian.scss */
.beican p {
  font-size: 0.875rem;
  color: #333;
}

/*dialog*/
/* line 1272, ../sass/meitian.scss */
.ui-dialog-wrap {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 2600px;
  z-index: 110;
  top: 0px;
}

/* line 1279, ../sass/meitian.scss */
.ui-bg {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  display: none;
}

/* line 1291, ../sass/meitian.scss */
.ui-dialog {
  position: absolute;
  z-index: 120;
  width: 16rem;
  overflow: hidden;
  display: none;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  border-radius: 6px;
}

/* line 1301, ../sass/meitian.scss */
.ui-dialog .ui-dialog-title {
  height: 40px;
  overflow: hidden;
  color: #333;
  line-height: 40px;
}

/* line 1307, ../sass/meitian.scss */
.ui-dialog .ui-dialog-title div {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

/* line 1312, ../sass/meitian.scss */
.ui-dialog .ui-dialog-title .ui-dialog-close {
  display: none;
  float: right;
  position: absolute;
  top: 13px;
  right: 15px;
  cursor: pointer;
  width: 14px;
  height: 14px;
  background: url(../img/close.png) center no-repeat;
  background-size: 100%;
}

/* line 1325, ../sass/meitian.scss */
.ui-dialog-content {
  text-align: left;
  min-height: 3.75rem;
  color: black;
  font-size: 0.8125rem;
  overflow: hidden;
  padding: 1.5625rem 0.9375rem 1.375rem;
  max-width: 18.125rem;
}

/* line 1334, ../sass/meitian.scss */
.ui-dialog-btn {
  overflow: hidden;
  color: #fff;
  font-size: 0.8125rem;
  text-align: center;
  border-top: 1px solid #E0E0E0;
}

/* line 1341, ../sass/meitian.scss */
.ui-dialog-btn .ui-dialog-ok {
  display: inline-block;
  height: 2.5rem;
  width: 100%;
  text-align: center;
  cursor: pointer;
  line-height: 2.5rem;
  color: #ed145b;
}

/* line 1350, ../sass/meitian.scss */
.ui-dialog-btn .ui-dialog-cancel {
  display: inline-block;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  cursor: pointer;
  color: #333;
  line-height: 2.5rem;
}

/* line 1359, ../sass/meitian.scss */
.two-btn .ui-dialog-cancel,
.two-btn .ui-dialog-ok {
  width: 50%;
}

/* line 1363, ../sass/meitian.scss */
.ui-dialog-cancel + .ui-dialog-ok {
  width: 49%;
  border-left: 1px solid #E0E0E0;
}

/* line 1368, ../sass/meitian.scss */
#mealList {
  overflow: hidden;
  -webkit-transition: .5s height;
  transition: .5s height;
}
/* line 1375, ../sass/meitian.scss */
#mealList .meal-info {
  border-bottom: 0px;
}
/* line 1378, ../sass/meitian.scss */
#mealList .order-data {
  margin-bottom: 0.4375rem;
  font-size: 0.8125rem;
  line-height: 1;
  color: #333;
}
/* line 1384, ../sass/meitian.scss */
#mealList .to-mt-bottom-popup {
  line-height: 6;
}

/* line 1389, ../sass/meitian.scss */
.mt-error-page {
  margin-top: 6.875rem;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}
/* line 1394, ../sass/meitian.scss */
.mt-error-page .logo {
  margin: 0.625rem auto;
  width: 3.125rem;
  height: 3.125rem;
}
/* line 1398, ../sass/meitian.scss */
.mt-error-page .logo img {
  width: 100%;
}
/* line 1402, ../sass/meitian.scss */
.mt-error-page p {
  font-size: 0.875rem;
  color: #333;
  text-align: center;
}

/* line 1409, ../sass/meitian.scss */
.mt-bottom-tip {
  width: 100%;
  font-size: 0.875rem;
  line-height: 2;
  text-align: center;
  color: #333;
}

@-webkit-keyframes couponShow {
  0% {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }
  80% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes couponShow {
  0% {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }
  80% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
/* line 1442, ../sass/meitian.scss */
.get-coupon {
  top: 7rem;
  left: 0;
  position: absolute;
  width: 19.1875rem;
  height: 15.125rem;
  background: url(../img/couponbg.png) no-repeat;
  background-size: cover;
  z-index: 20;
}
/* line 1451, ../sass/meitian.scss */
.get-coupon .coupon-box {
  position: relative;
  width: 10.0625rem;
  left: 5.125rem;
  top: 0.875rem;
  text-align: center;
}
/* line 1457, ../sass/meitian.scss */
.get-coupon .coupon-box .icon-close {
  position: absolute;
  top: -0.375rem;
  right: -0.375rem;
  width: 0.9375rem;
  height: 0.9375rem;
  background: url(../img/icon-close.png) no-repeat;
  background-size: 100%;
}
/* line 1466, ../sass/meitian.scss */
.get-coupon .coupon-box .coupon-name {
  padding-top: 2rem;
  font-size: 0.875rem;
  color: #ed145b;
  line-height: 1.6;
  word-wrap: break-word;
}
/* line 1473, ../sass/meitian.scss */
.get-coupon .coupon-box .coupon-date {
  font-size: 0.75rem;
  color: #ccc;
  line-height: 2;
}
/* line 1478, ../sass/meitian.scss */
.get-coupon .coupon-box .btn-iknow {
  margin-top: 0.9375rem;
  display: inline-block;
  font-size: 0.875rem;
  width: 6.625rem;
  height: 1.875rem;
  line-height: 1.875rem;
  border-radius: 50px;
  color: #fff;
  background-color: #ed145b;
}

/* line 1493, ../sass/meitian.scss */
#getcoupon {
  background: url("../img/couponbodybg.png") no-repeat;
  background-size: cover;
}
/* line 1496, ../sass/meitian.scss */
#getcoupon header {
  width: 100%;
  height: 2rem;
  background: url("../img/coupon-headbg.png") no-repeat;
  background-size: cover;
}
/* line 1502, ../sass/meitian.scss */
#getcoupon .coupon-info {
  padding: 1.625rem 0;
  text-align: center;
}
/* line 1505, ../sass/meitian.scss */
#getcoupon .coupon-info .coupon-name {
  font-size: 1.25rem;
  font-weight: 700;
  color: #000;
}
/* line 1510, ../sass/meitian.scss */
#getcoupon .coupon-info .coupon-value {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 3.6;
  color: #ed145b;
}
/* line 1516, ../sass/meitian.scss */
#getcoupon .coupon-info .coupon-date {
  font-size: 0.9375rem;
  color: #333;
}
/* line 1521, ../sass/meitian.scss */
#getcoupon .btn-get-coupon {
  margin: 2.8125rem auto;
  width: 10rem;
  height: 2.5rem;
  font-size: 1rem;
  line-height: 2.35;
  color: #fff;
  text-align: center;
  background: url("../img/getcoupon-bg.png") no-repeat;
  background-size: 100%;
}
/* line 1531, ../sass/meitian.scss */
#getcoupon .btn-get-coupon.disabled {
  background-image: url("../img/getcoupon-disabled-bg.png");
}
/* line 1535, ../sass/meitian.scss */
#getcoupon .to-book {
  margin: 0 auto;
  display: block;
  font-size: 0.875rem;
  line-height: 1.4;
  color: #ed145b;
  text-align: center;
}

/*
 * Swiper 2.7.5
 * Mobile touch slider and framework with hardware accelerated transitions
 *
 * http://www.idangero.us/sliders/swiper/
 *
 * Copyright 2010-2015, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 *
 * Licensed under GPL & MIT
 *
 * Released on: January 4, 2015
*/
/* ===============================================================
Basic Swiper Styles
================================================================*/
/* line 1563, ../sass/meitian.scss */
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
}

/* line 1575, ../sass/meitian.scss */
.swiper-wrapper {
  position: relative;
  width: 100%;
  -webkit-transition-property: -webkit-transform, left, top;
  -webkit-transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0, 0);
  -webkit-transition-timing-function: ease;
  -moz-transition-duration: 0s;
  -moz-transform: translate3d(0px, 0, 0);
  -moz-transition-timing-function: ease;
  -o-transition-duration: 0s;
  -o-transform: translate3d(0px, 0, 0);
  -o-transition-timing-function: ease;
  -o-transform: translate(0px, 0px);
  -ms-transition-property: -ms-transform, left, top;
  -ms-transition-duration: 0s;
  -ms-transform: translate3d(0px, 0, 0);
  -ms-transition-timing-function: ease;
  -webkit-transition-property: -webkit-transform, left, top;
          transition-property: transform, left, top;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  box-sizing: content-box;
}

/* line 1608, ../sass/meitian.scss */
.swiper-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}

/* line 1616, ../sass/meitian.scss */
.swiper-slide {
  float: left;
  box-sizing: content-box;
}

/* IE10 Windows Phone 8 Fixes */
/* line 1624, ../sass/meitian.scss */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}

/* line 1627, ../sass/meitian.scss */
.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}

/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
/* line 1635, ../sass/meitian.scss */
.swiper-container {
  /* Specify Swiper's Size: */
  width: 20rem;
  height: 7rem;
  overflow: hidden;
}

/* line 1642, ../sass/meitian.scss */
.swiper-slide {
  /* Specify Slides's Size: */
  /*width: 20rem;
  height: 7rem;*/
}

/* line 1648, ../sass/meitian.scss */
.swiper-slide-active {
  /* Specific active slide styling: */
}

/* line 1652, ../sass/meitian.scss */
.swiper-slide-visible {
  /* Specific visible slide styling: */
}

/* line 1656, ../sass/meitian.scss */
.swiper-container img {
  max-height: 7rem;
}

/* ===============================================================
Pagination Styles
================================================================*/
/* line 1663, ../sass/meitian.scss */
.pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom: 5px;
  width: 100%;
  z-index: 1;
}

/* line 1672, ../sass/meitian.scss */
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 1px 0px #555 inset;
  margin: 0 3px;
  cursor: pointer;
}

/* line 1683, ../sass/meitian.scss */
.swiper-active-switch {
  background: #999;
}

/* line 1687, ../sass/meitian.scss */
.swiper-visible-switch {
  /* Specific visible button style: */
}
